# Terraform Files
.terraform/
.terraform.lock.hcl
*.tfstate
*.tfstate.*
*.tfplan

# Environment Files  
*.tfvars.local
.env
.env.local

# IDE
.vscode/
.idea/
*.swp
*.swo
*~
.DS_Store

# Build Artifacts
crash.log
crash.*.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# Temporary Files
temp/
tmp/
*.temp

# bash
*.sh
